# üìä Analisis Validitas dan Reliabilitas Alat Ukur Kecemasan Public Speaking

## üìÅ Dataset
- Nama file: **Data_Uji_PSAP_30_Mahasiswa_UIN_Malang.xlsx**
- Jumlah responden: 30 mahasiswa
- Variabel: Item-item pernyataan terkait kecemasan saat public speaking

---

## ‚úÖ Uji Validitas

### üîç Metode:
- Menggunakan **korelasi Pearson** antara skor tiap item dan total skor responden.

### üìà Kriteria Validitas:
- Korelasi > 0.30 ‚Üí **Valid**
- Korelasi ‚â§ 0.30 ‚Üí **Tidak Valid**

### üß™ Hasil:
| Item | Korelasi Item-Total | Valid |
|------|----------------------|-------|
| I1   | 0.45                | Ya    |
| I2   | 0.52                | Ya    |
| I3   | 0.28                | Tidak |
| ...  | ...                 | ...   |

*(Data aktual akan tergantung hasil eksekusi script)*

---

## üîÅ Uji Reliabilitas

### üîç Metode:
- Menggunakan **Cronbach‚Äôs Alpha**

### üìà Kriteria:
| Nilai Alpha  | Interpretasi         |
|--------------|----------------------|
| ‚â• 0.90       | Sangat Tinggi        |
| 0.80‚Äì0.89    | Tinggi               |
| 0.70‚Äì0.79    | Cukup                |
| 0.60‚Äì0.69    | Rendah               |
| < 0.60       | Sangat Rendah        |

### üß™ Hasil:

In [5]:
import pandas as pd
from scipy.stats import pearsonr

# Load data
file_path = '/kaggle/input/data-uji/Data_Uji_PSAP_30_Mahasiswa_UIN_Malang.xlsx'
df = pd.read_excel(file_path)

# Preview data
df.head()

,Nama,JK,Usia,Semester,Jurusan,A1,A2,A3,A4,A5,...,C2,C3,C4,E1(R),E2(R),E3(R),E4(R),E5(R),E6,Total
0,KB,L,20,4,Manajemen Pendidikan Islam,5,2,3,4,5,...,1,4,1,5,2,5,3,1,1,53
1,JN,P,24,2,Pendidikan Guru Madrasah Ibtidaiyah,2,1,4,4,3,...,4,3,5,5,4,1,5,1,3,57
2,GB,L,22,8,Perbankan Syariah,5,2,1,1,2,...,1,2,5,3,4,4,5,2,4,48
3,UU,P,21,6,Manajemen Pendidikan Islam,5,5,3,3,4,...,3,1,3,1,5,1,4,4,1,50
4,GD,L,23,4,Manajemen Pendidikan Islam,5,3,4,2,2,...,2,3,3,3,5,2,1,4,5,54

In [6]:
# Drop kolom non-item (misal: Nama, Usia, dsb)
data = df.select_dtypes(include='number') 

# Hitung total skor tiap responden
total_score = data.sum(axis=1)

# Uji Validitas: Korelasi Item-Total
validitas = {}
for col in data.columns:
    r, _ = pearsonr(data[col], total_score)
    validitas[col] = r

validitas_df = pd.DataFrame.from_dict(validitas, orient='index', columns=['Item-Total Correlation'])
validitas_df['Valid'] = validitas_df['Item-Total Correlation'].apply(lambda x: 'Ya' if abs(x) >= 0.3 else 'Tidak')

# Cetak hasil validitas
print("\nHasil Uji Validitas:")
validitas_df.head()

Hasil Uji Validitas:

          Item-Total Correlation  Valid
Usia                   -0.013326  Tidak
Semester                0.272036  Tidak
A1                      0.450275     Ya
A2                      0.194272  Tidak
A3                      0.531991     Ya

In [4]:
# Uji Reliabilitas: Cronbach's Alpha
def cronbach_alpha(df):
    items = df.shape[1]
    variances = df.var(axis=0, ddof=1)
    total_var = df.sum(axis=1).var(ddof=1)
    alpha = (items / (items - 1)) * (1 - variances.sum() / total_var)
    return alpha

alpha = cronbach_alpha(data)
print(f"\nCronbach's Alpha: {alpha:.4f}")

Cronbach's Alpha: 0.5266